@tailwind base;
@tailwind components;
@tailwind utilities;

*::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

select {
  padding: 10px 20px;
}
.item_search:hover {
  background-color: blue;
  color: black;
  border: 1px solid black;
}
.list__filter {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.tag {
  background-color: #f4f4f4;
  border: 1px solid #e9e9e9;
  padding: 2px 0 2px 2px;
  border-radius: 2px;
  display: inline-block;
  padding: 12px !important;
  display: flex !important ;
  gap: 10px !important;
}
.search {
  padding: 10px;
}
.select__list {
  max-width: 1440px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
